--extra-index-url https://pypi.org/simple
--trusted-host pypi.org
--trusted-host files.pythonhosted.org

altair
numpy
pandas
pydeck
streamlit
matplotlib
seaborn
scikit-learn
plotly
keras
pillow
torch
neurodiffeq
svr
pyGRNN
tensorflow==2.11
pip --upgrade
